<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>new user? please signup</p>
    <button type="button" class="btn btn-primary btn-lg"><a href="http://127.0.0.1:8000/reg/">signup</a></button>
    <p> already create an account please login</p>
    <button type="button" class="btn btn-secondary btn-lg"><a href="http://127.0.0.1:8000/login">login</a></button>
    
</body>
</html>